  #container {
    margin: auto;
    width: 576px;
    height: 576px;
    display: grid;
  }
  
  .grid-item {
    grid-row: auto;
    grid-column: auto;
    border: 1px solid gray;
    
  }

  .headline {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .reset-button-div {
    margin: auto;
    text-align: center;
  }
